.footer {
  max-width: 882px;
  margin: 0px auto;
  padding: 67px 0 30px;
}

.footer__author {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  color: #545454;
}

@media screen and (max-width: 968px) {
  .footer {
    max-width: 769px;
  }

  .footer__author {
    padding-left: 50px;
  }
}
