.pop-up {
  width: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.pop-up__container {
  display: flex;
  justify-content: center;

  background-color: #ffffff;
  width: 430px;
  height: 330px;
  border: 1px;
  border-radius: 10px;
  box-shadow: 0 0 25px 0 #00000026;

  position: fixed;
  transform: translate(-50%, -50%);
  top: 45%;
  left: 50%;
  z-index: 3;
}

.pop-up__close-button {
  background-color: transparent;
  border: none;
  width: 40.7px;
  height: 40.7px;
  position: absolute;
  top: -40px;
  right: -33px;
}

.pop-up__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.pop-up__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  color: #000000;
  margin-top: 34px;
}

.pop-up__input-container {
  margin: 54px auto 0;
  display: flex;
  flex-direction: column;
  gap: 29.74px;
  border: none;
}

.pop-up__form-item {
  width: 358px;
  height: 27.26px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #c4c4c4;
}

.pop-up__form-item::placeholder {
  color: #c4c4c4;
}

.pop-up__save-button {
  display: block;
  width: 358px;
  height: 50.15px;
  background-color: #000000;
  color: #ffffff;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  margin: 48px auto 36.51px;
  border-radius: 2px;
}

.pop-up__save-button:hover {
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .pop-up__container {
    width: 282px;
    height: 322px;
  }

  .pop-up__close-button {
    width: 26px;
    height: 26px;
    top: -55px;
    right: 18px;
  }

  .pop-up__title {
    font-size: 18px;
    margin-top: 25px;
  }

  .pop-up__input-container {
    margin: 76px auto 0;
    gap: 30px;
  }

  .pop-up__form-item {
    width: 238px;
    height: 26px;
  }

  .pop-up__save-button {
    width: 238px;
    height: 46px;
    font-size: 14px;
    font-weight: 400;
    margin: 46px auto 25px;
  }
}
